<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - Santa Inc{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('navbar') }}
    {% endblock %}
</head>
<body>
<div id="navbar">
    <a href="{{ path('home_') }}" class="{{ 'home_' in app.request.attributes.get('_route')  ? 'active' }}">Home</a>
    <a href="{{ path('factory_home') }}" class="{{ 'factory_' in app.request.attributes.get('_route') ? 'active' }}">Factories</a>
    <a href="{{ path('receiver_home') }}" class="{{ 'receiver_' in app.request.attributes.get('_route') ? 'active' }}">Receiver</a>
    <a href="{{ path('gift_home') }}" class="{{ 'gift_' in app.request.attributes.get('_route') ? 'active' }}">Gifts</a>
</div>

<div id="flashes-div">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div id="base">
    {% block body %}{% endblock %}
</div>
</body>
</html>
